* {
    font-family:'Zapf Chancery';
    color: #3b486e;
    background-color: #ffff;
    font-style: italic;
    text-align: center;
    font-weight: 600;
}

a:link {
    color: #3b486e;
}
a:visited {
    color: #c5a9b1;
}

button {
    margin: 10%;
    text-align: center;
}

.btn {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn.btn-success {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

input[type=text]:focus {
    background-color: #48556357;
    border: 3px solid #555;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }